@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.flex-item{
    width: 20%;
}

.add-employee{
    border: 2px solid gray;
    height: fit-content;
    width: fit-content;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    
}
.plus{
    font-size: 25px;
}